<md-content layout="column">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Settings" ng-click="openMenu()">
                <md-icon md-svg-icon="assets/menu.svg"></md-icon>
            </md-button>
            <h2>
                <span>Toolbar with Icon Buttons</span>
            </h2>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="More">
                <md-icon md-svg-icon="assets/more_vert.svg"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <section layout="row" flex>
        <md-content flex layout-padding>
            <div layout="column" layout-fill layout-align="top center">
                <p>
                    The left sidenav will 'lock open' on a medium (>=960px wide) device.
                </p>
                <p>
                    The right sidenav will focus on a specific child element.
                </p>
                <div>
                    <md-button ng-click="toggleLeft()" class="md-primary" hide-gt-md>
                        Toggle left
                    </md-button>
                </div>
                <div>
                    <md-button ng-click="toggleRight()" ng-hide="isOpenRight()" class="md-primary">
                        Toggle right
                    </md-button>
                </div>
            </div>
            <div flex></div>
        </md-content>
        <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
            <md-content layout-padding>
                <form>
                    <md-input-container>
                        <label for="testInput">Test input</label>
                        <input type="text" id="testInput" ng-model="data" md-autofocus>
                    </md-input-container>
                </form>
                <md-button ng-click="close()" class="md-primary">
                    Close Sidenav Right
                </md-button>
            </md-content>
        </md-sidenav>
    </section>
</md-content>
