<!DOCTYPE html>
<html lang="en" ng-app="jw-ng-template">

<head>
	<meta charset="UTF-8">
	<base href="/">
	<title>JustWatch - jw-ng-template</title>

	<meta name="keywords" content="">
	<meta name="description" content="">

	<!-- facebook OG -->
	<meta property="og:site_name" content="" />
	<meta property="fb:app_id" content="" />
	<meta property="og:title" content="" />
	<meta property="og:description" content="" />

	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">

	<link rel="shortcut icon" sizes="196x196" href="https://static.justwatch.com/static/compile_jw/assets/android-icon-196x196.png">
	<link rel="apple-touch-icon-precomposed" href="https://static.justwatch.com/static/compile_jw/assets/apple-touch-icon-iphone.png" />
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="https://static.justwatch.com/static/compile_jw/assets/apple-touch-icon-iphone.png" />
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://static.justwatch.com/static/compile_jw/assets/apple-touch-icon-ipad.png" />
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://static.justwatch.com/static/compile_jw/assets/apple-touch-icon-iphone-retina-display.png" />
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://static.justwatch.com/static/compile_jw/assets/apple-touch-icon-ipad-retina-display.png" />
	<link rel="apple-touch-icon-precomposed" sizes="200x200" href="https://static.justwatch.com/static/compile_jw/assets/apple-touch-icon-retina.png" />

	<!-- compiled CSS -->
	<% styles.forEach( function ( file ) { %>
		<link rel="stylesheet" type="text/css" href="<%= file %>" />
		<% }); %>
			<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,400italic,700italic,700,300' rel='stylesheet' type='text/css'>

</head>

<body ng-cloak>
	<div ng-include="'root/root.tpl.html'"></div>
	<!-- compiled JavaScript -->
	<% scripts.forEach( function ( file ) { %>
		<script type="text/javascript" src="<%= file %>"></script>
		<% }); %>

</body>

</html>

